canvas {
  border: 1px black solid;
  display: none;
}

#header {
  text-align: center;
  margin: auto;
  display: block;
  color: white;
  margin-top: 5px;
}

.developers {
  margin: auto;
  display: block;
  padding: 10px;
  padding-left: 20px;
}

.buttons {
    margin-left: 30px;
    margin-right: 30px;
}

h5 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;
}

#gameInfo {
  display: none;
  padding: 10px;
  width: 250;
  max-width: 250;
  height: 800;
  max-height: 800;
  background-color: #2196f3;
  vertical-align: top;
}